:root {
    --font-open: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

.container {
    width: 1352px;
    height: 100%;
    display: flex;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway);
    font-weight: lighter;
    font-size: 32px;
    color: #08A6E4;
}

.nav {
    display: flex;
    list-style: none;
    font-family: var(--font-open);
    font-weight: bold;
    font-size: 11px;
}

.nav__item {
    padding: 28px 47px 24px 47px;
    color: #A5A5A5;
    border-bottom: 4px solid transparent;
}

.nav__item:hover {
    border-bottom: 4px solid #08A6E4;
    color: #000;
}

.banner {
    width: 100%;
    height: 712px;
    margin-top: 168px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner__title {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 20px;
}

.banner__text {
    font-family: var(--font-open);
    font-size: 16px;
    margin-bottom: 38px;
}

.banner__btn {
    color: #FFF;
    background-color: #08A6E4;
    padding: 22px 157px;
    text-decoration: none;
    font-family: var(--font-open);
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.stats {
    width: 100%;
    height: 531px;
    display: flex;
    justify-content: center;
}

.stats .container {
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.stats__content{
    display: flex;
    margin-top: 100px;
}

.stats__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 167px;
    margin-right: 185px;
}

.stats .third__column{
    margin: 0;
}

.stats__title{
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 200;
}

.circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: absolute;
}

.stats .first__circle
{
    background-color: #FB3B64;
}

.stats .second__circle
{
    background-color: #08A6E4;
}

.stats .third__circle
{
    background-color: #55DFB4;
}

.icon__cont{
    position: relative;
    top: 85px;
    left: 25px;
}

.stats__numbers{
    margin-top: 110px;
    font-family: var(--font-raleway);
    font-weight: 900;
}

.stats__text{

    margin-top: 20px;
    color: #A5A5A5;
    font-size: 17px;
    font-family: var(--font-raleway);
    text-align: center;
}

.benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1395px;
    background-color: #F7F7F7;
}

.benefits .container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.benefits__box{
    display: flex;
    border: 1px solid #E8E9ED;
    background-color: #FFFFFF;
    height: 370px;
    width: 1124px;
    justify-content: space-between;
}
.benefits__column{
    margin: 80px 0 0 35px;
}

.benefits__title{
    font-family: var(--font-raleway);
    font-size: 36px;
    margin-bottom: 30px;
}

.benefits__text{
    font-family: var(--font-open);
    font-size: 16px;
    margin-bottom: 50px;
    width: 416px;
    height: 66px;
}

.benefits__line{
    width: 328px;
    height: 4px;
    background-color: #FB3B64;
}

.benefits .line__blue{
    background-color: #08A6E4;
}

.benefits .line__green{
    background-color: #55DFB4;
}

.benefits__container__laptop{
    margin: 113px 118px 0 0;
    position: relative;
    z-index: 1;
}

.laptop__bc{
    width: 180px;
    height: 180px;
    border-radius: 50px;
    background-color: #FB3B64;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 0;
}

.benefits__laptop{
    position: relative;
    z-index: 1;
}

.phone__bc{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #08A6E4;
    position: absolute;
    z-index: 0;
}

.benefits__phone{
    position: relative;
    z-index: 1;
}
