:root {
    --font-open: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

.container {
    width: 1352px;
    height: 100%;
    display: flex;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway);
    font-weight: lighter;
    font-size: 32px;
    color: #08A6E4;
}

.nav {
    display: flex;
    list-style: none;
    font-family: var(--font-open);
    font-weight: bold;
    font-size: 11px;
}

.nav__item {
    padding: 28px 47px 24px 47px;
    color: #A5A5A5;
    border-bottom: 4px solid transparent;
}

.nav__item:hover {
    border-bottom: 4px solid #08A6E4;
    color: #000;
}

.banner {
    width: 100%;
    height: 712px;
    margin-top: 168px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner__title {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 20px;
}

.banner__text {
    font-family: var(--font-open);
    font-size: 16px;
    margin-bottom: 38px;
}

.banner__btn {
    color: #FFF;
    background-color: #08A6E4;
    padding: 22px 157px;
    text-decoration: none;
    font-family: var(--font-open);
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.stats {
    width: 100%;
    height: 531px;
    display: flex;
    justify-content: center;
}

.stats .container {
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.stats__content{
    display: flex;
    margin-top: 100px;
}

.stats__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 167px;
    margin-right: 185px;
}

.stats .third__column{
    margin: 0;
}

.stats__title{
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 200;
}

.circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: absolute;
}

.stats .first__circle
{
    background-color: #FB3B64;
}

.stats .second__circle
{
    background-color: #08A6E4;
}

.stats .third__circle
{
    background-color: #55DFB4;
}

.icon__cont{
    position: relative;
    top: 85px;
    left: 25px;
}

.stats__numbers{
    margin-top: 110px;
    font-family: var(--font-raleway);
    font-weight: 900;
}

.stats__text{

    margin-top: 20px;
    color: #A5A5A5;
    font-size: 17px;
    font-family: var(--font-raleway);
    text-align: center;
}


